
input,
textarea,
select {
  border: 1px solid gray;
  box-sizing: border-box;
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  width: 100%;
}

label,
button {
  box-sizing: border-box;
  display: block;
  margin: 20px auto;
  text-align: left;
}

button,
.button {
  background-color: colors(primary, base);
  border: 2px solid colors(primary, base);
  border-radius: 5px;
  color: colors(text, ink);
  display: inline-block;
  margin: 20px 10px;
  padding: 10px 20px;
  text-decoration: none;

  &.cancel {
    background-color: colors(secondary, base);
    border: 2px solid colors(secondary, base);
  }

  &:hover {
    background-color: $background;
    color: colors(primary, dark);
    cursor: pointer;
    text-decoration: underline;
  }

  &:first-of-type {
    margin-left: 0;
  }

  &.cancel:hover {
    color: colors(secondary, dark);
  }

  &.link {
    background-color: transparent;
    border: none;
    color: colors(primary, dark);
    padding: 0;
    text-decoration: none;

    &.dark {
      color: colors(primary, base);
    }

    &:hover {
      background-color: transparent;
      color: colors(primary, base);
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
