
input,
textarea,
select {
  background-color: $background;
  border: 1px solid gray;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  width: 100%;

  &:disabled {
    background-color: colors(grey,lightest);
    color: colors(grey, base);
    cursor: not-allowed;
  }
}

select {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 10px), calc(100% - 5px);
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  height: 30px;
  padding-right:20px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

textarea {
  min-height: 200px;
}


label,
button {
  box-sizing: border-box;
  display: block;
  margin: 20px auto;
  text-align: left;
}

button,
.button {
  background-color: colors(primary, base);
  border: 2px solid colors(primary, base);
  border-radius: 5px;
  color: colors(text, ink);
  display: inline-block;
  margin: 20px 10px;
  padding: 10px 20px;
  text-decoration: none;

  &.cancel {
    background-color: colors(secondary, base);
    border: 2px solid colors(secondary, base);
  }

  &:hover {
    background-color: $background;
    color: colors(primary, dark);
    cursor: pointer;
    text-decoration: underline;
  }

  &:first-of-type {
    margin-left: 0;
  }

  &.cancel:hover {
    color: colors(secondary, dark);
  }

  &.link {
    background-color: transparent;
    border: none;
    color: colors(primary, dark);
    padding: 0;
    text-decoration: none;

    &.dark {
      color: colors(primary, base);
    }

    &:hover {
      background-color: transparent;
      color: colors(primary, base);
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
