.Normal {
  background-color: colors(primary, base);

  h3 {
    color: colors(text, base);
  }
}

.New {
  border: 10px solid colors(secondary, base);
}

.ticket {
  margin: 10px auto;
  width: 100%;

  header,
  section {
    padding: 15px 15px 1px;
  }

  @include for-tablet-landscape-up {
    flex: 1;
    margin: 20px;
    min-width: 300px;
  }
}
