body {
  @include font($font-stack-system, 'base', normal);
  line-height: map-get($line-height, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
button,
select,
li {
  //font-family: $font-stack-system;
  //font-size: 16px;
  //font-weight: normal;
  @include font($font-stack-system, 'base', normal);
  color: colors(text, base);
}

p {
  line-height: map-get($line-height, 2);
  margin-bottom: space-after(2, 1);
}

a {
  color: colors(primary, dark);

  &.dark {
    color: colors(primary, base);
  }

  &:hover {
    color: colors(primary, light);
    cursor: pointer;
    text-decoration: underline;
  }
}

small {
  @include font($font-stack-system, '-2', lighter);
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

h1 {
  @include font($font-stack-system, '4', bold);
  color: colors(primary, dark);
}

h2 {
  @include font($font-stack-system, '3', normal);
}

h3 {
  @include font($font-stack-system, '2', bold);
  color: colors(primary, dark);
}

h4 {
  @include font($font-stack-system, '1', normal);
}

h5 {
  @include font($font-stack-system, '-1', bold);
}

h6 {
  @include font($font-stack-system, '-2', bold);
}
